

<body>

	<div class="container">
			<h2>個人情報の編集</h2>
		<div class="row">
			<div class="col-sm-12 col-md-3">
			</div>

			<div class="col-sm-12 col-md-9">
	      <% if @user.id == current_user.id %>
        <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <%= @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
<!-- 個人情報 -->
						<div class="field">
              <%= f.label :first_name, "苗字:" %><br>
              <%= f.text_field :first_name %>
            </div>
            <div class="field">
              <%= f.label :first_name_kana, "苗字カナ:" %><br>
              <%= f.text_field :first_name_kana %>
            </div>
            <div class="field">
              <%= f.label :last_name, "名前:" %><br>
              <%= f.text_field :last_name %>
            </div>
            <div class="field">
              <%= f.label :last_name_kana, "名前カナ:" %><br>
              <%= f.text_field :last_name_kana %>
            </div>
            <div class="field">
              <%= f.label :post_code, "郵便:" %><br>
              <%= f.text_field :post_code %>
            </div>
            <div class="field">
              <%= f.label :address, "住所:" %><br>
              <%= f.text_field :address %>
            </div>
            <div class="field">
              <%= f.label :phone, "電話:" %><br>
              <%= f.text_field :phone %>
            </div>
            <div class="field">
              <%= f.label :email, "メールアドレス:" %><br>
              <%= f.email_field :email %>
            </div>
            <div class="field">
              <%= f.label :password, "パスワード:" %> <i>(6文字以上)</i><br>
              <%= f.password_field :password, autocomplete: "off" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>
            <div class="field">
              <%= f.label :password_confirmation, "パスワード（確認）:" %><br>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <br>

<!-- 個人情報更新するボタン -->
            <div class="actions">
            <%= f.submit"更新", class:"btn btn-lg btn-block btn-info" %>
            <% end %>
            <% else %>
            あなたはこのアカウントの所有者ではないので、アカウント情報を編集できません。
            <% end %>
          </div>
			</div>
		</div>



</div><br><br>
</body>
